//
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;

}

header{
  height: 20vh;
  background: red;
  .container{
    h2{
      text-align: center;
    }
  }
}

main{
  height: 60vh;
  background: blue;
  .container{
    h2{
      text-align: center;
    }
  }
}

footer{
  height: 20vh;
  background: grey;
  .container{
    h2{
      text-align: center;
    }
  }
}
